.left img {
  width: 90%;
  border-radius: 15px;
  margin: 4rem 0 7rem;
}

.icon {
  padding-left: 25px;
  background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
  background-size: 20px;
}

.logo input {
  margin-left: 3rem;
  border-radius: 5px;
  background-color: #ebf0f1;
  border: none;
  height: 2rem;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.big-wraper {
  padding: 1.7rem 0 2rem;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: #dfe8ed;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.main-container {
  position: relative;
  background-color: #ffffff;
  max-width: 96%;
  width: 100%;
  margin: 0 auto;
  padding: 0.3rem 0.3rem;
  z-index: 10;
  border-radius: 15px;
}

.container {
  position: relative;
  background-color: #ffffff;
  max-width: 85rem;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 3rem;
  z-index: 10;
  margin-top: 20px;
  border-radius: 15px;
}

.logo img {
  width: 40px;
  border-radius: 10px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.links {
  /* ------------- */
  /* display: none; */
  list-style: none;
  align-items: center;
}

.links ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.links a {
  margin-left: 3rem;
  display: inline-block;
  color: #8f9196;
}

.btn {
  display: inline-block;
  padding: 0.3rem 1.3rem;
  border-radius: 30px;
  border: 2px solid #dddddd;
}

.btn:hover {
  background-color: #dddddd;
  transition: background-color 200ms linear;
}

.btn:not(:hover) {
  background-color: #ffffff;
  transition: background-color 200ms linear;
}

.links a:hover {
  color: #696b6e;
  transform: scale(1.05);
}

.showcase-area .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.big-title {
  font-size: 1.2rem;
  text-transform: capitalize;
  line-height: 1.4;
}

.big-title .title {
  font-size: 4rem;
  text-transform: capitalize;
}

.showcase-area .btn {
  display: inline-block;
  padding: 0.6rem 1.9rem;
  border-radius: 30px;
  color: #ffffff;
  text-transform: none !important;
  font-size: 1rem;
}

.showcase-area .btn:hover {
  background-color: #304cd8;
  transition: background-color 200ms linear;
}

.showcase-area .btn:not(:hover) {
  background-color: #4263ff;
  transition: background-color 200ms linear;
}

.big-title .badged {
  font-size: 1.2rem;
  text-transform: none !important;
  background-color: #dbd2ec;
  border-radius: 15px;
  padding: 0.2rem 0.9rem;
  width: 25%;
  display: inline;
  align-items: center;
}

.createBy {
  width: 30px;
  border-radius: 50px;
}

.collection {
  width: 30px;
  border-radius: 5px;
}

.tb img {
  position: relative;
  top: 5px;
}

.tb {
  margin-top: 20px;
  margin-bottom: 20px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  /* border: 1px solid black; */
}

td {
  /* border: 1px solid #dddddd; */
  text-align: left;
  padding: 0.2rem;
}

.tb .pd .small-text {
  padding-top: 2rem;
}

.small-text {
  font-size: 1rem;
  color: #abafb7;
}

.time-small-text {
  font-size: 1rem;
  color: #abafb7;
  word-spacing: 0.8rem;
  text-transform: none;
}

.current-bid {
  font-size: 3rem;
  text-transform: capitalize;
}

.avatar {
  width: 30px;
  border-radius: 50px;
  border: 1px solid #ffffff;
  margin-left: -8px;
}

.avatar-group {
  margin-left: 2rem;
  display: flex;
  align-items: center;
}

.cta {
  display: flex;
}

/* ******************************** */
@media screen and (max-width: 1024px) {
  .showcase-area .container {
    grid-template-columns: 1fr;
  }

  .left {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .left img {
    width: 70%;
    border-radius: 15px;
    margin: 1rem 0 4rem;
  }

  .links {
    list-style: none;
    align-items: center;
    margin-top: 1.5rem;
    margin-left: -2rem;
  }

  .links ul {
    list-style: none;
    align-items: center;
  }

  .links a {
    color: #8f9196;
  }

  header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .logo img {
    margin-left: 1rem;
  }

  .big-title {
    font-size: 1.2rem;
  }

  .big-title .title {
    font-size: 3rem;
  }

  .big-title .badged {
    font-size: 1.2rem;
  }

  .small-text {
    font-size: 1rem;
  }

  .showcase-area .btn {
    padding: 0.6rem 1.3rem;
    font-size: 1.2rem;
  }

  .time-small-text {
    font-size: 1rem;
  }

  .current-bid {
    font-size: 2.7rem;
  }
}

/* ******************************** */
@media screen and (max-width: 700px) {
  .btn {
    padding: 0.3rem 0.7rem;
    border-radius: 30px;
    border: 2px solid #dddddd;
  }

  .links a {
    margin-left: 2rem;
    font-size: 0.9rem;
  }

  .big-title {
    font-size: 0.9rem;
  }

  .big-title .title {
    font-size: 2.5rem;
  }

  .big-title .badged {
    font-size: 0.9rem;
  }

  .small-text {
    font-size: 0.8rem;
    color: #abafb7;
  }

  .showcase-area .btn {
    padding: 0.6rem 1.3rem;
    font-size: 0.9rem;
  }

  .time-small-text {
    font-size: 0.8rem;
  }

  .current-bid {
    font-size: 2.3rem;
  }
}

/* ---------- */

@keyframes animation {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.left .jet-girl {
  animation-name: animation;
  animation-duration: 4s;
}

.left .jet-girl:hover {
  filter: drop-shadow(8px 8px 10px gray);
}
